#octopus {
  position: absolute;
  margin-top: 200px;
  margin-left: 500px;
}
#hat{
  position:absolute;
  top: 130px;
  left: 490px;
}
#glasses{
  position: absolute;
  top: 306px;
  left: 550px;
}