#octopus {
  position: absolute;
  margin-top: 200px;
  margin-left: 500px;
}
#hat{
  position:absolute;
  margin-top: 125px;
  margin-left: 485px;
}
#glasses{
  position: absolute;
  margin-top: 298px;
  margin-left: 542px;
}